html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(160, 160, 160);
  display: flex;
  flex-direction: column;
}

.header {
  background-color: bisque;
  width: 100%;
  padding: 1vh;
}

.header > h1 {
  padding-left: 10vw;
}

#container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: repeat(6, 2fr) / repeat(6, 2fr);
}

#container > * {
  width: 200px;
  height: 200px;
  background-color: aqua;
}

#form {
  background-color: rgb(169, 180, 182);
  padding: 1rem;
}

#form-buttons {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

#cancel {
  background: rgb(233, 78, 78);
  max-width: 500px;
}

#submit {
  background: rgb(22, 194, 22);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

#modal {
  padding: 0;
}

#modal[open] {
  animation: slide-up 500ms forwards, fade-in 500ms forwards;
}

#modal::backdrop {
  background: rgb(0, 0, 0 / 0.4);
  opacity: 0;
}

#modal[open]::backdrop {
  animation: fade-in 500ms forwards;
}
